@media(max-width:1200px){

.hero h1{

font-size:70px;

line-height:75px;

}

}

@media(max-width:900px){

.navbar{

width:94%;

padding:0 20px;

}

nav{

display:none;

}

.hero h1{

font-size:52px;

line-height:56px;

}

.hero p{

font-size:22px;

line-height:32px;

}

.hero-buttons{

flex-direction:column;

}

.cards{

flex-direction:column;

align-items:center;

}

}