.navbar{

position:fixed;

top:28px;

left:50%;

transform:translateX(-50%);

width:82%;

height:82px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 40px;

background:rgba(255,255,255,.72);

backdrop-filter:blur(22px);

border:1px solid rgba(255,255,255,.45);

border-radius:28px;

box-shadow:

0 12px 45px rgba(0,0,0,.08);

z-index:999;

transition:.35s;

}

.logo img{

height:62px;

}

nav{

display:flex;

gap:42px;

}

nav a{

text-decoration:none;

color:#111;

font-weight:600;

transition:.3s;

position:relative;

}

nav a:hover{

color:#7b4dff;

}

nav a::after{

content:"";

position:absolute;

left:0;

bottom:-8px;

height:2px;

width:0;

background:#7b4dff;

transition:.3s;

}

nav a:hover::after{

width:100%;

}

.nav-buttons{

display:flex;

gap:15px;

}

.custom-btn{

padding:15px 28px;

border-radius:18px;

border:2px solid #b78cff;

background:white;

font-weight:600;

cursor:pointer;

transition:.3s;

}

.custom-btn:hover{

background:#7b4dff;

color:white;

transform:translateY(-2px);

}

.theme-btn{

width:48px;

height:48px;

border:none;

border-radius:50%;

background:white;

cursor:pointer;

transition:.3s;

}

.theme-btn:hover{

transform:rotate(20deg);

}nav a.active{

color:#7b4dff;

}

nav a.active::after{

width:100%;

}